.user-list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px;
}

.user-list__button-more {
  margin-bottom: 20px;
}

