$font_size: 18px;
$line_height: $font_size * 1.2;
$padding: 15px;

.member-card {
  border: 1px solid black;
  width: 200px;
  border-radius: 10px;

  .member-card__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font_size;
    min-height: ($line_height + $padding) * 2;
    line-height: $line_height;
    color: black;
    font-weight: 700;
    padding: $padding;
  }
}
  